*~
*.egg-info/
*.egg/
*.pyc
*.cpp
*.c
*.so
build
\#*\#
.\#*
.coverage
dist/
.cache/
check_autopep8

examples/semantic_segmentation/result/
examples/semantic_segmentation/fcn/result/
examples/semantic_segmentation/result
examples/image_retrieval/triplet/result/
examples/image_classification/tensorboard/result/

tests/bin/
