chainer_cv.egg-info/
*.pyc
build/
.cache/
examples/semantic_segmentation/result/
examples/semantic_segmentation/fcn/result/
examples/semantic_segmentation/result

examples/image_retrieval/triplet/result/
dist/
check_autopep8

tests/bin/
