language: python
python:
  - 2.7
  - 3.6
notifications:
  email: false

install:
  - pip install cython
  - pip install -e .

script:
  - >-
    pip install
    autopep8
    flake8
    hacking==1.0.0
    mock
    pytest-xdist
  - autopep8 -r . | tee check_autopep8
  - test ! -s check_autopep8
  - python style_checker.py --exclude caffe_pb2.py -- .
  - pytest -n $(nproc) -m 'not gpu and not slow' tests
